<html>
<head>
    <title> Clube do Inglês </title>
    <link  rel="stylesheet" type="text/css" href="_css/style.css">
    <meta charset="utf-8">
    <script src="_js/scripts.js" type="text/javascript"> </script>

</head>
<body>
<div class="content" align="center">
    <div class="row">
        <div class="column">
           <img src="_img/logo.png">
            <div class="box">
                <form action="">
                    <label> CPF </label>
                    <input type="text" id="cpf" name="cpfname" placeholder="Somente Números" required>

                    <label>Senha</label>

                    <input type="text" id="senha" name="senhaname" placeholder="Senha" required>

                    <div class="box-input">
                        <input align="center" type="submit" value="Acessar" onclick="login();">
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>



</body>
<html>