<html>
 <head>
   <title> Clube do Inglês </title>
   <link  rel="stylesheet" type="text/css" href="_css/style.css">  
   <link  rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">  
   
   <meta charset="utf-8">  
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <script src="https://kit.fontawesome.com/f97851abe5.js" crossorigin="anonymous"></script>
 
  </head>
<body>
  <div class="content-interface" align="center">
   <div class="row">   
    <div class="column">

     <div class="box-turma">
      <label  style="font-weight: bold; margin-left:50px; position: absolute;"> Turma: AT10 </label>
      <label style="font-weight: bold; margin-left:-150px; position: absolute; padding-top:5px;"> <i class="fas fa-arrow-left"> </i> </label>
     </div>

     <div class="box-graduacao">
      <i  style="color:#6f6f6f; font-size:50px" class="fas fa-graduation-cap"></i>
       <br />
       <label> <i style="background-color:#2ecc71; color:#2ecc71; border-radius:50%; margin-top:25px" class="far fa-circle"></i> 10 Amigos online </label>
       <br />
     </div>

     <div class="box-input">
        <form action="/chamada" method="post">
         <button type="submit" class="button" align="center"> Conversar com um colega </button>
        </form>
     </div>

     <div class="card">
           <p style="color:#6f6f6f"> Minutos Disponiveis: <label> 30min </label> </p>
           <p style="color:#6f6f6f"> Próxima Recarga: <label> 12/12/2019 </label> </p>
     </div>

     </div>
    </div>
   </div>
  </div>


</body>
<html>